
  <section class="blog-section">
    <h1>Recent blog posts</h1>

    <div class="grid">
      <div class="card">
        <img src="/public/images/morning.jpg" alt="Morning Routine" />
        <h2>The Power of Morning Routines</h2>
        <p>Starting your day with a structured morning routine can set the tone for productivity and well-being.</p>
        <div class="info">Farid • April 24, 2025</div>
      </div>

      <div class="card">
        <img src="/public/images/minimaliste.jpg" alt="Minimalism" />
        <h2>The Art of Minimalism</h2>
        <p>Minimalism is more than decluttering—it's a lifestyle that prioritizes what truly matters.</p>
        <div class="info">Amjad • April 24, 2025</div>
      </div>

      <div class="card">
        <img src="/public/images/gardening.jpg" alt="Gardening" />
        <h2>The Benefits of Urban Gardening</h2>
        <p>Urban gardening brings nature to city life, offering food, relaxation, and community.</p>
        <div class="info">Souma • April 24, 2025</div>
      </div>
    </div>
   


    
    

    <div class="load-more">Load more...</div>
  </section>

